h1{
    color: rgb(199, 5, 5);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1,5rem;
}

body{
    background-color: rgba(240, 230, 140, 0.521);
    font-family: Arial, Helvetica, sans-serif;
}

img{
    max-width: 80%;
}

.inspringing{
    margin-left: 40px;
}

p{
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
}
