h1{
    color: green;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1,5rem;
}

body{
    background-color: khaki;
    font-family: Arial, Helvetica, sans-serif;
}

img{
    max-width: 80%;
}

.inspringing{
    margin-left: 40px;
}

p{
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
}
